@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
	ViewBag.Title = "All Roles";
}
@* <br />
<br />
<br />
<br />
<h1>All Roles</h1>
@if (Model.Any())
{
	<a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"asp-controller="Admin">Add new role</a>
	foreach (var role in Model)
	{
		<div class="card mb-3">
			<div class="card-header"> Role Id : @role.Id </div>
			<div class="card-body"> <h5 class="card-title">@role.Name</h5> </div>
			<div class="card-footer">
				<form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
					<a asp-controller="Admin" asp-action="EditRole"
					   asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
					<span id="confirmDeleteSpan_@role.Id" style="display:none">
						<span>Are you sure you want to delete?</span>
						<button type="submit" class="btn btn-danger">Yes</button>
						<a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
					</span>
					<span id="deleteSpan_@role.Id">
						<a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a>
					</span>
				</form>
			</div>
		</div>
	}
}
else
{
	<div class="card">
		<div class="card-header">
			No roles created yet
		</div>
		<div class="card-body">
			<h5 class="card-title">
				Use the button below to create a role
			</h5>
			<a class="btn btn-primary" style="width:auto"
			   asp-controller="administration" asp-action="CreateRole">
				Create Role
			</a>
		</div>
	</div>
} *@
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cinema Listing Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="~/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/template/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/template/css/templatemo-topic-listing.css" rel="stylesheet">
</head>

<body class="topics-listing-page" id="top">

    <main>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Homepage</a></li>

                                <li class="breadcrumb-item active" aria-current="page">Roles Listing</li>
                            </ol>
                        </nav>

                        <h2 class="text-white">Roles Listing</h2>
                    </div>
                </div>
            </div>
        </header>


        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h3 class="mb-4">Roles List</h3>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <div class="d-flex">
                                <div class="custom-block-topics-listing-info d-flex">
                                    <div>
                                        <h5 class="mb-2">@item.Name</h5>

                                        <a asp-controller="Admin" asp-action="EditRole" asp-route-id="@item.Id" class="btn custom-btn mt-3 mt-lg-4">Edit</a>
                                        <a asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@item.Id" class="btn custom-btn mt-3 mt-lg-4">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                    <div class="col-lg-12 col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">Prev</span>
                                    </a>
                                </li>

                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="~/template/js/jquery.min.js"></script>
    <script src="~/template/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/js/jquery.sticky.js"></script>
    <script src="~/template/js/custom.js"></script>

</body>
</html>