@model MiniProjet.Models.Film

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<br />
<br />
<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostCinemaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostCinemaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poster)
        </dt>
        <dd class="col-sm-10">
            <div class="card-body text-left">
                <img src="~/images/@Model.Poster" asp-append-version="true" height="100" width="100" />
            </div>
        </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
